.filterInput {
  display: none;
}
.filterInput:checked ~ .content {
  height: 500px;
}
.content {
  direction: rtl;
}
.masterInp:checked + .masterLabel {
  border: 5px solid #fcbf49;
  width: 175px;
  height: 175px;
  background: url(../../../../assets/Images/filter/selMaster.png);
  background-size: 100%;
  border-radius: 30px;
}
.masterLabel {
  background: url(../../../../assets/Images/filter/defMaster.png);
  background-size: 100%;
  border-radius: 30px;
}
