.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.headerBox1 {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
  gap: 120px;
  padding: 50px 80px;
  padding-bottom: 130px;
  padding-left: 0;
  background: url(../../../assets/Images/header-bg.png) no-repeat 100% 0;
  background-size: 75% 250px;
}
.inp {
  display: none;
}
.sort {
  width: 25%;
  height: 100%;
  padding: 18px 45px;
  border-radius: 9999px;
  text-align: center;
  white-space: nowrap;
  transition: 0.4s;
  cursor: pointer;
}
.inp:checked + .sort {
  background: #fcbf49;
}
.footer {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  align-items: center;
  /* height: 500px; */
  background: url(../../../assets/Images/footer-bg.png) no-repeat 100% 100%;
  background-size: 65% 460px;
}
.illustration {
  width: 33%;
}
