/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.container {
  width: 100%;
  max-width: 1750px;
  margin: 0 auto;
}
.headerBox1 {
  width: 100vw;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
  align-items: center;

  padding: 50px 80px;
  padding-bottom: 130px;
  padding-left: 0;
  background: url(../../../assets/Images/header-bg.svg) no-repeat 130% -10%;
  background-size: 80%  ;
}
.inp {
  display: none;
  /* @apply hidden; */
}
.sort {
  width: 25%;
  height: 100%;
  padding: 18px 45px;
  border-radius: 9999px;
  text-align: center;
  white-space: nowrap;
  transition: 0.4s;
  cursor: pointer;
  /* @apply w-1/4 h-full py-4 px-11 rounded-full text-center whitespace-nowrap duration-300 cursor-pointer  */
}
.inp:checked + .sort {
  background: #fcbf49;
  color: #fff;
  /* @apply bg-[#fcbf49] text-white  */
}
.footer {
  width: 100vw;
  max-width: 1834px;

  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: center;
  align-items: center; 


  /* background: url(../../../assets/Images/footer-bg.png) no-repeat 100% -10%; */
  /* background-size: 65% 460px;

  /* @apply w-[100vw] max-w-[1834px] mt-12 mb-[0px] mx-auto flex flex-row-reverse flex-nowrap justify-center items-center bg-[url('../../../assets/Images/footer-bg.png')] bg-no-repeat bg-contain  bg-right */
}
.illustration {
  width: 25%;
  /* @apply w-1/4 */
}



@media (max-width: 1600px) {
  
  .headerBox1 {
    background: url(../../../assets/Images/header-bg.svg) no-repeat 130% -10%;
    background-size: 80%  ;
    /* @apply  bg-[url('../../../assets/Images/header-bg.png')] bg-no-repeat bg-right bg-contain  */

  }


}

@media (max-width: 1280px) {
  
  .headerBox1 {
    background: #fcbf49;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px ;
    /* @apply bg-[#fcbf49] w-full h-full flex flex-col items-center justify-center gap-12 p-8 */
  }

  .footer {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: center;
    align-items: center;
    background: #fcbf49;
    /* @apply flex flex-row-reverse flex-nowrap justify-center items-center bg-[#fcbf49] */
  }
  .illustration {
    display: none;
    /* @apply hidden */
  }

}
@media (max-width:1024px) {

  .footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* @apply flex flex-col justify-center items-center  */
  }

      
  .sort {
    width: 100%;
    /* @apply w-full */
  }
  }


  




      
      
      
      

      

        


