/* right-top side svg and its animation */

.top {
  width: 63%;
  height: 166%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(/src/assets/Images/signIn-bg.svg) no-repeat 100% 0%;
  background-size: 177%;
  transform: rotateZ(325deg) translateX(644px) translateY(85px);
}
.topMoveUp {
  width: 63%;
  height: 166%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(/src/assets/Images/signIn-bg.png) no-repeat 100% 0%;
  background-size: 177%;
  transform: rotateZ(315deg) translateX(644px) translateY(102px);
  animation: topMoveUp 1s linear forwards;
}
.topMoveDown {
  width: 63%;
  height: 166%;
  position: absolute;
  top: 0px;
  right: 0px;
  background: url(/src/assets/Images/signIn-bg.png) no-repeat 100% 0%;
  background-size: 177%;
  transform: rotateZ(315deg) translateX(644px) translateY(102px);
  animation: topMoveDown 1s linear forwards;
}
@keyframes topMoveUp {
  0% {
    background-size: 177%;
    transform: rotateZ(325deg) translateX(644px) translateY(85px);
  }
  50% {
    transform: rotateZ(270deg) translateX(644px) translateY(250px);
    background-size: 177% 77%;
  }
  80% {
    height: 166%;
    transform: rotateZ(270deg) translateX(135px) translateY(250px);
    background-size: 177% 77%;
  }
  100% {
    height: 266%;
    background-size: 248% 77%;
    transform: rotateZ(270deg) translateX(701px) translateY(372px);
  }
}
@keyframes topMoveDown {
  0% {
    height: 266%;
    background-size: 248% 77%;
    transform: rotateZ(270deg) translateX(701px) translateY(372px);
  }
  20% {
    height: 166%;
    transform: rotateZ(270deg) translateX(135px) translateY(250px);
    background-size: 177% 77%;
  }
  50% {
    transform: rotateZ(270deg) translateX(644px) translateY(250px);
    background-size: 177% 77%;
  }
  100% {
    background-size: 177%;
    transform: rotateZ(325deg) translateX(644px) translateY(85px);
  }
}

/* left-bottom sid svg and its animation */
.bot {
  width: 63%;
  height: 167%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url(/src/assets/Images/register-bg.svg) no-repeat 0% 50%;
    background-size: 174%;
    transform: rotateZ(337deg) translateX(-444px) translateY(199px);
  z-index: 1;
}
.botMoveUp {
  width: 63%;
  height: 167%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url(/src/assets/Images/register-bg.png) no-repeat 0% 0%;
  background-size: 174%;
  transform: rotateZ(337deg) translateX(-399px) translateY(199px);
  animation: botMoveUp 1s linear forwards;
  z-index: 1;
}
.botMoveDown {
  width: 63%;
  height: 167%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url(/src/assets/Images/register-bg.png) no-repeat 0% 0%;
  background-size: 174%;
  transform: rotateZ(337deg) translateX(-399px) translateY(199px);
  animation: botMoveDown 1s linear forwards;
  z-index: 1;
}
@keyframes botMoveDown {
  0% {
    transform: rotateZ(270deg) translateX(-156px) translateY(14px);
    background-size: 400% 77%;
  }
  50% {
    transform: rotateZ(270deg) translateX(-156px) translateY(14px);
    background-size: 174% 77%;
  }
  100% {
    transform: rotateZ(337deg) translateX(-399px) translateY(199px);
    width: 63%;
    background-size: 174% 100%;
  }
}
@keyframes botMoveUp {
  0% {
    transform: rotateZ(337deg) translateX(-399px) translateY(199px);
    width: 63%;
    background-size: 174% 100%;
  }
  50% {
    transform: rotateZ(270deg) translateX(-156px) translateY(14px);
    background-size: 174% 77%;
  }
  100% {
    transform: rotateZ(270deg) translateX(-156px) translateY(14px);
    background-size: 400% 77%;
  }
}
/* 
@media (min-width: 1280px) {
  .botMoveDown,
  .botMoveUp {
    background: url(/src/assets/Images/register-bg.png) no-repeat 0% 0%;
    background-size: 174%;
    transform: rotateZ(337deg) translateX(-399px) translateY(199px);
  }
  .topMoveDown,
  .topMoveUp {
    background: url(/src/assets/Images/signIn-bg.png) no-repeat 100% 0%;
    background-size: 177%;
    transform: rotateZ(315deg) translateX(644px) translateY(102px);
  }

  .top {
    background: url(/src/assets/Images/signIn-bg.svg) no-repeat 100% 0%;
    background-size: 177%;
    transform: rotateZ(325deg) translateX(644px) translateY(85px);
  }
  .bot {
    background: url(/src/assets/Images/register-bg.svg) no-repeat 0% 50%;
    background-size: 174%;
    transform: rotateZ(337deg) translateX(-444px) translateY(199px);
  }
} */
