.landingFooter {
  height: 930px;
  width: 100%;
  background: url(../../../assets/Images/landing-footer.svg) no-repeat ;
  background-size: 100%;
  display: flex;
  flex-flow: row-reverse;
  align-items: flex-end;
}
