.header {
  width: 100%;
  height: fit-content;
  direction: rtl;
  gap: 50px;
  /* background: url(../../../assets/Images/landing-header.svg) no-repeat; */
  background-size: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.hamInp:checked + .hamLabel {
  right: 130px;
  top: 10px;
}
.hamInp:checked ~ .hamContent {
  /* width: 80px; */
  padding: 10px 0px;
  right: 0;
  background: #fff8e9;
}
